.advantage {
  position: relative;
  bottom: 15px;
  min-width: 340px;
  height: 250px;
  background-color: @var-background-color;
}

.advantage__sedona {
  width: 320px;
  height: 100px;
  font: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 10px;
  text-align: center;
  color: @var-color-black;
}

.advantage__five-reasons {
  width: 320px;
  height: 149px;
  font: @font;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 5px;
  text-align: center;
  color: @var-color-white-gray;
}

.advantage__intro-mask {
  position: absolute;
  justify-content: center;
  min-width: 340px;
  padding-left: 10px;
  top: 1000px;
  left: 0;
  width: 100%;
}
