.advantage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: @var-background-color;
}

.advantage__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 43px;
}

.advantage__sedona {
  width: 80%;
  height: auto;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: @var-color-black;
}

.advantage__five-reasons {
  width: 80%;
  height: auto;
  font-family: @font;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 20px;
  text-align: center;
  color: @var-color-white-gray;
}

.advantage__intro-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .advantage__sedona {
    font-family: @font;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    align-items: center;
    color: @var-color-black;
  }

  .advantage__five-reasons {
    font-family: @font;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: @var-color-white-gray;
    padding-bottom: 55px;
  }
}



@media (min-width: @desktop-width) {


  .advantage__sedona {
    width: 50%;
    font-family: @font;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: @var-color-black;
  }

  .advantage__five-reasons {
    font-family: @font;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: @var-color-white-gray;
    margin-right: 0;
  }

  .advantage__intro-mask {
    display: none;
  }
}
