.bridge {
  background-color:@var-background;
  width: 340px;
  height: 239px;
  padding-top: 10px;
}

.bridge__devil-bridge {
  padding-left: 5px;
  padding-top: 30px;
  width: 320px;
  height: 14px;
  font: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 5px;
  text-align: center;
  color: @var-color-white;
}

.bridge__venture {
  padding-left: 5px;
  width: 320px;
  font: @font;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 5px;
  text-align: center;
  color: @var-color-white;
}

.bridge__layer-5 {
  padding-top: 30px;
}
