.contacts {
  width: 340px;
  height: 288px;
  background-color: @var-background-color;
  border-top: 1px solid #9A9A9A;
  border-bottom: 1px solid #9A9A9A;
}

.contacts-info {
  width: 280px;
  height: 16px;
  margin-left: 40px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: @var-color-black;
}

.contacts-box {
  margin-left: 20px;
}

.contacts-tel {
  width: 130px;
  height: 14px;
  margin-left: 22px;
  font-family: @font;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: @var-color-white-gray;
}

.contacts-input::placeholder {
  position: relative;
  width: 136px;
  height: 22px;
  left: 20px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: @var-color-black;
}

.contacts-input {
  width: 300px;
}

.contacts-phone {
  content: "";
  position: absolute;
  right: 0;
  top: 372px;
  width: 58px;
  height: 58px;
  left: 267px;
  background: #e6e6e6;
}

.contacts__phone {
  position: relative;
  top: 20px;
  left: 20px;
}

.contacts-email {
  width: 130px;
  height: 14px;
  margin-left: 22px;
  font-family: @font;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: @var-color-white-gray;
}

.contacts__email-mail {
  content: "";
  position: absolute;
  right: 0;
  top: 486px;
  width: 58px;
  height: 58px;
  left: 267px;
  background: #e6e6e6;
}

.contacts__email {
  position: relative;
  top: 20px;
  left: 20px;
}
