.emotions {
  width: 340px;
  height: 288px;
  background-color: @var-background-color;
  border-top: 1px solid #9A9A9A;
  border-bottom: 1px solid #9A9A9A;
}

.emotions__describe-emotions {
  width: 310px;
  height: 16px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: @var-color-black;
}

.emotions__feedback {
  position: relative;
  left: 20px;
}

.emotions__feedback::placeholder {
  position: relative;
  left: 21px;
  width: 270px;
  height: 43px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: @var-color-black;
}

