.form {
  display: flex;
  margin-bottom: 12px;
  position: relative;
  bottom: 135px;
  right: 4px;
  width: 340px;
  height: 1556px;
}

.form__btn {
  position: relative;
  left: 30px;
  width: 280px;
  height: 58px;
  background: @var-background;
  font-family: @font;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  color: @var-color-white;
  text-transform: uppercase;
}

.page-form {
  margin-bottom: -146px;
}
