.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
}

.form__shipment {
  width: 100%;
  margin-left: 40px;
}

.form__btn {
  margin-top: 51px;
  margin-bottom: 47px;
  width: 87%;
  height: 58px;
  border: none;
  background: @var-background;
  font-family: @font;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  color: @var-color-white;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form__fieldset_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 84px;
  }

  .form__item {
    width: 50%;
  }

  .form__item:nth-of-type(1) {
    order: 1;
  }

  .form__item:nth-of-type(2) {
    order: 2;
    width: 100%;
    margin-top: 75px;
  }

  .form__item:nth-of-type(3) {
    order: 0;
  }

  .form__item:nth-of-type(4) {
    order: 3;
    width: 100%;
  }

  .form__item:nth-of-type(5) {
    order: 4;
    width: 100%;
  }

  .form__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
  }

  .form__shipment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .form__btn {
    margin-top: 52px;
    margin-bottom: 47px;
    width: 42%;
    height: 58px;
    border: none;
    background: @var-background;
    font-family: @font;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.24;
    text-align: center;
    color: @var-color-white;
    text-transform: uppercase;
  }

  .form__text {
    font-family: @font;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;
    color: @var-color-white-gray;
    margin-top: 73px;
    margin-left: 162px;
  }
}


@media (min-width: @desktop-width) {
  .form__fieldset_wrapper {
    margin-right: 120px;
    margin-left: 129px;
    margin-top: 84px;
  }

  .form__shipment {
    margin: 0;
  }

  .form__btn {
    width: 50%;
  }

  .form__text {
    margin-left: 311px;
  }
}
