.here {
  display: block;
  width: 340px;
  height: 450px;
  padding-top: 300px;
  background-color: @var-background-color;
}

.here__list-home {
  display: block;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: @var-background-color;
  flex-grow: 1;
}

.house {
  position: absolute;
  padding-bottom: 150px;
  padding-left: 10px;
  text-decoration: none;
}

.here__home {
  position: relative;
  justify-content: flex-start;
  width: 210px;
  font: @font;
  padding-left: 69px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color:@var-color-black;
}

.here__sojourn {
  position: relative;
  justify-content: flex-start;
  width: 250px;
  font: @font;
  padding-left: 69px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: @var-color-white-gray;
}

.gift {
  position: absolute;
  padding-bottom: 150px;
  padding-left: 10px;
  text-decoration: none;
}

.here__souvenirs {
  position: relative;
  justify-content: flex-start;
  width: 210px;
  padding-left: 69px;
  font: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: @var-color-black;
}

.here__local-production {
  position: relative;
  justify-content: flex-start;
  width: 250px;
  font: @font;
  padding-left: 69px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: @var-color-white-gray;
}

.burger {
  position: absolute;
  padding-bottom: 150px;
  padding-left: 10px;
  text-decoration: none;
}

.here__food {
  position: relative;
  justify-content: flex-start;
  width: 210px;
  padding-left: 69px;
  font: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: @var-color-black;
}

.here__cool-burger {
  position: relative;
  justify-content: flex-start;
  width: 250px;
  padding-left: 69px;
  font: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: @var-color-white-gray;
}
