.impression {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background-color: @var-background-color;
  border-bottom: 1px solid #9A9A9A;
}

.impression__general{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}

.impression__title {
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: @var-color-black;
}

.impression__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 25px;
  margin-bottom: 32px;
}

.impression__item:nth-of-type(2) {
  margin-top: 23px;
}

.impression__item:nth-of-type(3) {
  margin-top: 23px;
}

.impression__input {
  width: 46px;
  height: 46px;
  margin: 0;
}

.impression__label {
  position: absolute;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: @var-color-black;
  margin-top: 10px;
  margin-left: 14px;
}

@media (min-width: @tablet-width) {

  .impression {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: @var-background-color;
    border-bottom: none;
  }

  .impression__general {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    margin-top: 0;
  }

  .impression__title {
    font-family: @font;
    font-size: 21px;
    text-align: left;
  }

  .impression__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 32px;
  }

  .impression__item:nth-of-type(2) {
    margin-top: 50px;
  }

  .impression__item:nth-of-type(3) {
    margin-top: 50px;
  }

  .impression__input {
    width: 46px;
    height: 46px;
    margin: 0;
  }

  .impression__label {
    position: absolute;
    font-family: @font;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: none;
    color: @var-color-black;
    margin-top: 10px;
    margin-left: 14px;
  }
}

@media (min-width: @desktop-width) {
  .impression__list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 67px;
    margin-left: 0;
    margin-bottom: 32px;
  }
}
