.impression {
  width: 340px;
  height: 288px;
  background-color: @var-background-color;
  border-top: 1px solid #9A9A9A;
  border-bottom: 1px solid #9A9A9A;
}

.impression__general-impression {
  position: relative;
  bottom: 219px;
  width: 330px;
  height: 16px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 26;
  text-align: center;
  color: @var-color-black;
}

.impression-input {
  position: relative;
  right: 55px;
}

.impression-label {
  position: absolute;
  left: 95px;
  width: 310px;
  height: 14px;
  padding-top: 17px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: @var-color-black;
}
