.look {
  position: relative;
  bottom: 150px;
  width: 340px;
  height: 150px;
  background-color: @var-background-color;
}

.look__doubt {
  position: relative;
  width: 269px;
  left: 43px;
  font: @font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
  color: @var-color-black;
}

.look__presentation {
  width: 310px;
  bottom: 40px;
  padding-left: 15px;
  font: @font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  color: #333333;
}


@media (min-width: @tablet-width) {
  .look {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 187px;
    width: 768px;
    height: 244px;
  }
}

@media (min-width: @desktop-width) {
  .look {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 230px;
    width: 1200px;
    height: 244px;
  }
}
