.main-nav__list {
  display: block;
  justify-content: center;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__toggle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  left: 1078px;
  top: 320px;
  background-color: @var-background-color;
}

