.page-footer {
  width: 107%;
  height: 250px;
  background-color: @var-background-color;
}

.page-footer__title {
  width: 136px;
  height: 16px;
  padding-left: 80px;
  padding-top: 40px;
  font: @font;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  color: @var-color-black;
}

.page-footer__copyright {
  position: relative;
  padding-left: 80px;
  padding-top: 40px;
  width: 150px;
  height: 11px;
  font: @font;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: @var-color-black;
}

.page-footer__social {
  width: 340px;
  height: 129px;
  background-color: @var-color-white;
}


@media (min-width: @tablet-width) {
  .page-footer{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 249px;
    width: 768px;
    height: 120px;
  }

  .page-footer__social {
    position: relative;
    bottom: 25px;
    background: none;
  }

  .page-footer__copyright {
    position: relative;
    left: 500px;
    bottom: 150px;
  }
}


@media (min-width: @desktop-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 300px;
    width: 1200px;
    height: 120px;
  }

  .page-footer__social {
    position: relative;
    justify-content: center;
    left: 250px;
    bottom: 25px;
    background: none;
  }

  .page-footer__copyright {
    position: absolute;
    left: 930px;
    bottom: 65px;
  }
}
