.photo {
  position: relative;
  width: 340px;
  height: 1820px;
  bottom: 115px;
  background-color: @var-background-color;
}

.photo__people-spaces {
  position: relative;
  left: 20px;
}

.photo__description {
  position: relative;
  width: 269px;
  font: @font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
  color: @var-color-black;
}

.photo__vegetation{
  position: relative;
  width: 269px;
  left: 20px;
  font: @font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
  color: @var-color-black;
}

.photo__road {
  position: relative;
  width: 269px;
  left: -20px;
  font: @font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
  color: @var-color-black;
}

.photo__bridge {
  position: relative;
  width: 269px;
  left: -40px;
  font: @font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 10px;
  text-align: center;
  color: @var-color-black;
}

.photo__author {
  position: relative;
  width: 310px;
  top: 5px;
  right: 70px;
  padding-left: 15px;
  font: @font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  color: @var-color-white-gray;
}

.photo__native-vegetation {
  position: relative;
  left: 20px;
}

.photo__road-the-north {
  position: relative;
  left: 20px;
}

.photo__devil-bridge {
  position: relative;
  left: 20px;
}

.photo__quantity {
  position: relative;
  width: 310px;
  bottom: 30px;
  right: 100px;
  padding-left: 15px;
  font: @font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  color: @var-color-white-gray;
}

.photo__icon-like {
  position: relative;
  left: 20px;
}
