.resolve {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: @var-background-color;
}

.resolve__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin-top: 44px;
}


.resolve__photo-and-video {
  font-family: @font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: @var-color-black;
}

.resolve__journey {
  font-family: @font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding-top: 25px;
  color: @var-color-white-gray;
}


@media (min-width: @tablet-width) {
  .resolve {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .resolve__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 57%;
    margin-top: 44px;
  }

  .resolve__photo-and-video {
    font-family: @font;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
  }

  .resolve__journey {
    font-family: @font;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .resolve__header {
    width: 36%;
    margin-top: 113px;
  }
}
