.resolve {
  position: relative;
  width: 340px;
  height: 250px;
  bottom: 115px;
  background-color: @var-background-color;
}

.resolve__photo-and-video {
  width: 269px;
  font: @font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 40px;
  text-align: center;
  color: @var-color-black;
}

.resolve__journey {
  width: 310px;
  bottom: 40px;
  padding-left: 15px;
  font: @font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  color: @var-color-white-gray;
}


@media (min-width: @tablet-width) {
  .resolve {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 187px;
    width: 768px;
    height: 248px;
  }

}
