.sight {
  width: 340px;
  height: 390px;
  background-color: @var-background-color;
  border-top: 1px solid #9A9A9A;
  border-bottom: 1px solid #9A9A9A;
}

.sight__visited {
  position: relative;
  left: 30px;
  width: 280px;
  height: 42px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: @var-color-black;
}

.sight-input {
  position: relative;
  right: 55px;
}

.sight__label-devil-bridge {
  position: absolute;
  left: 95px;
  width: 310px;
  height: 14px;
  padding-top: 17px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: @var-color-black;
}

.sight__label-red-rock {
  position: absolute;
  left: 95px;
  width: 310px;
  height: 14px;
  padding-top: 17px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: @var-color-black;
}

.sight__label-bell-mountain {
  position: absolute;
  left: 95px;
  width: 310px;
  height: 14px;
  padding-top: 17px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: @var-color-black;
}

.sight__label-slide-park {
  position: absolute;
  left: 95px;
  width: 310px;
  height: 14px;
  padding-top: 17px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
  color: @var-color-black;
}


@media (min-width: @tablet-width) {
  .sight {
    position: relative;
    bottom: 190px;
    left: 60px;
    width: 648px;
    height: 306px;
    border-bottom: none;
  }

  .sight__visited {
    position: relative;
    overflow-wrap: break-word;
    bottom: 45px;
    left: 115px;
    width: 400px;
    height: 42px;
    background-color: @var-background-color;
  }

  .sight__checkbox {
    position: relative;
    left: 60px;
    bottom: 15px;
    width: 668px;
    overflow: hidden;
  }

  .sight-input {
    overflow: hidden;
    margin: 10px 50px 20px 0;
  }

  .sight__label-bell-mountain {
    left: 345px;
    bottom: 140px;
  }

  .sight__label-red-rock {
    left: 345px;
    bottom: 50px;
  }

  .sight__label-devil-bridge {
    top: 6px;
    left: 87px;
  }

  .sight__label-slide-park {
    top: 95px;
    left: 87px;
  }
}



@media (min-width: @desktop-width) {
  .sight {
    position: relative;
    bottom: 296px;
    left: 60px;
    width: 1080px;
    height: 306px;
    border-bottom: none;
  }

  .sight__visited {
    position: relative;
    overflow-wrap: break-word;
    bottom: 45px;
    left: 360px;
    width: 400px;
    height: 42px;
    background-color: @var-background-color;
  }

  .sight__checkbox {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -10px;
    bottom: 15px;
    width: 1080px;
    overflow: hidden;
  }

  .sight-input {
    overflow: hidden;
    margin: 10px 50px 20px 0;
  }

  .sight__label-bell-mountain {
    left: 330px;
    bottom: 50px;
  }

  .sight__label-red-rock {
    left: 900px;
    bottom: 50px;
  }

  .sight__label-devil-bridge {
    top: 6px;
    left: 87px;
  }

  .sight__label-slide-park {
    top: -24px;
    left: 595px;
  }
}
