.sight {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: @var-background-color;
  border-bottom: 1px solid @var-color-border-gray;
}

.sight__visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sight__title {
  font-family: @font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @var-color-black;
  margin-top: 24px;
}

.sight__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 24px;
  margin-bottom: 26px;
  margin-top: 26px;
}

.sight__checkbox-item:nth-of-type(2) {
  margin-top: 30px;
}

.sight__checkbox-item:nth-of-type(3) {
  margin-top: 30px;
}

.sight__checkbox-item:nth-of-type(4) {
  margin-top: 30px;
}


.sight__input {
  width: 46px;
  height: 46px;
}

.sight__label {
  position: absolute;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: @var-color-black;
  padding-left: 25px;
  padding-top: 10px;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .sight {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: @var-background-color;
    border-top: 1px solid @var-color-border-gray;
    border-bottom: none;
    margin-top: 78px;
  }

  .sight__visited {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .sight__title {
    position: relative;
    width: 58%;
    bottom: 52px;
    background-color: @var-color-white;
    font-family: @font;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: @var-color-black;
    margin-top: 24px;
  }

  .sight__checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 86%;
    margin-left: 130px;
    margin-bottom: 26px;
    margin-top: 0;
  }

  .sight__checkbox-item:nth-of-type(1) {
    width: 44%;
  }

  .sight__checkbox-item:nth-of-type(2) {
    width: 44%;
    margin-top: 0;
  }

  .sight__checkbox-item:nth-of-type(3) {
    width: 44%;
    margin-top: 30px;
  }

  .sight__checkbox-item:nth-of-type(4) {
    width: 44%;
    margin-top: 30px;
  }


  .sight__input {
    width: 46px;
    height: 46px;
  }

  .sight__label {
    position: absolute;
    font-family: @font;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: @var-color-black;
    padding-left: 25px;
    padding-top: 10px;
    text-transform: none;
  }
}

@media (min-width: @desktop-width) {
  .sight__title {
    width: 43%;
}

  .sight__checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 73px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .sight__checkbox-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    height: 80px;
    width: 50%;
  }

  .sight__checkbox-item:nth-of-type(1) {
    width: 20%;
    margin-right: 50px;
  }

  .sight__checkbox-item:nth-of-type(2) {
    width: 20%;
    margin-right: 50px;
  }

  .sight__checkbox-item:nth-of-type(3) {
    width: 20%;
    margin-top: 0;
    margin-right: 50px;
  }

  .sight__checkbox-item:nth-of-type(4) {
    width: 20%;
    margin-top: 0;
  }


  .sight__input {
    width: 46px;
    height: 46px;
  }

  .sight__label {
    position: absolute;
    font-family: @font;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: @var-color-black;
    padding-left: 70px;
    padding-top: 10px;
    text-transform: none;
  }
}
