.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 55px;
  padding: 10px;
  border-top: 1px solid rgb(154, 194, 219);
  border-bottom: 1px solid rgb(103, 143, 168);
  background-color: @var-background;
}

.site-list__item-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  font-family: @font;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: @var-color-white;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {

  .site-list__item {
    box-sizing: border-box;
    font-family: @font;
    width: calc((100% - 156px) / 4);
    padding: 15px;
    border: none;
    background-color: @var-color-white;

      &:nth-of-type(3) {
        margin-left: auto;
      }

      &:last-child {
        margin-right: 0;
      }
  }

  .site-list__item-menu {
    width: 100%;
    min-width: auto;
    padding: 0;
    font-family: @font;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: @var-color-black;
  }

  .site-list__item a[href] {
    &:hover {
      color: @var-background;
    }

    &:active {
      color: #604e43;
    }
  }
  .site-list__item .site-list__item--active a[href] {
    &:visited {
      color: #766357;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    box-sizing: border-box;
    font-family: @font;
    width: calc((100% - 244px) / 4);
    padding: 15px;
    border: none;
    background-color: @var-color-white;
  }
    &:nth-child(2) {
      margin-right: auto;
    }

    &:nth-child(n+5) {
      margin-top: 30px;
      width: 25%;
    }

    .site-list__item-menu {
      margin: 0;
      font-family: @font;
      font-size: 14px;
      font-weight: 700;
      line-height: 26px;
      text-align: center;
      color: @var-color-black;
    }
  }
