.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-left: 80px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  width: 154px;
  text-align: center;
}

.social__link {
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.social-list .li:nth-child(3n) {
  margin: 0;
}

.social__item {
  display: flex;
  position: relative;
  margin: 10px auto;
  width: 46px;
  height: 48px;
  color: @var-color-white;
  background-color: @var-background;
  background-position: center;
}
.social__link--vkontakte {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 3px;
  background-repeat: no-repeat;
  padding: 11px;
  text-align: center;
  vertical-align: center;
}

.social__link--facebook {
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  left: 3px;
  padding: 15px;
  text-align: center;
  vertical-align: center;
}

.social__link--instagram {
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  top: 6px;
  left: 3px;
  padding: 10px;
  text-align: center;
  vertical-align: center;
}
