@font-face {
  font-family: "PT Sans";
  src: local("PTSans"),
  url("../../fonts/ptsans.woff") format("woff"),
    url("../../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PTSans"),
  url("../../fonts/ptsansbold.woff") format("woff"),
    url("../../fonts/ptsansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-size: 14px;
@line-height: 24px;
@font-family: "PT Sans", Tahoma, sans-serif;

@font: @font-size/@line-height @font-family;
